{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-6 shadow-sm">
                <div class="card-body">
                    Check your email for account confirmation!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
